@using nodetest.Models
@using nodetest.Utils
@using nodetest.ViewModels


<div @ref="_wrapper" class="input me-auto text-sm-start">
    @InputsTemplate(Model)
</div>
@code {
    [Parameter]
    public RenderFragment<IConnection> InputsTemplate { get; set; }

    [CascadingParameter(Name = nameof(ConnectionsStorage))]
    public ConnectionsStorage ConnectionsStorage { get; set; }
    
    [CascadingParameter(Name = nameof(ParentOffsetStorage))]
    public ParentOffsetStorage ParentOffsetStorage { get; set; }

    [Parameter]
    public IConnection Model { get; set; }
    
    private ElementReference _wrapper;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var offset = await _wrapper.GetOffsetAsync();
        var parentOffset = ParentOffsetStorage.ParentOffset;
        var height = await _wrapper.GetHeightAsync();
        var toStore = offset - parentOffset + new Vector2() {X = 0, Y = height / 2};
        ConnectionsStorage.AddTo(Model, toStore);
    }

}