@using nodetest.Models
@using nodetest.Utils
@using nodetest.ViewModels

<div @ref="_wrapper" class="output ms-auto text-sm-end">
    @OutputsTemplate(Model)
</div>
@code {
    [Parameter, EditorRequired]
    public RenderFragment<IConnection> OutputsTemplate { get; set; }
    
    [CascadingParameter(Name = nameof(ConnectionsStorage))]
    public ConnectionsStorage ConnectionsStorage { get; set; }
    
    [CascadingParameter(Name = nameof(ParentOffsetStorage))]
    public ParentOffsetStorage ParentOffsetStorage { get; set; }
    
    [Parameter]
    public IConnection Model { get; set; }

    private ElementReference _wrapper;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var offset = await _wrapper.GetOffsetAsync();
        var parentOffset = ParentOffsetStorage.ParentOffset;
        var height = await _wrapper.GetHeightAsync();
        var width = await _wrapper.GetWidthAsync();
        var toStore = offset - parentOffset + new Vector2() {X = width, Y = height / 2};
        ConnectionsStorage.AddFrom(Model, toStore);
    }

}

